extends layout

block content
  main
      div
        input(type="input", placeholder="Email (required)")
        input(type="input", placeholder="Password (required)")
        button(type="submit") Sign In
      div
        a(href="/signup") Don't have an account? Sign Up

